<div class="page-width">
	<div class="upsell-popup">
		<div class="upsell-popup__header">
			<h1> SHOW OFF WITH <span>FEEL RICH APPAREL</span> </h1>
		</div>
		<!-- /.upsell-popup__header -->
		<div class="upsell-popup__content">
			<div class="grid">
				{% for product in collections.upsell.products %}
				
		
				<div class="grid__item  small--one-half medium-up--one-quarter text-center">
					
					<div class="b-product">
						<div class="b-product__title">{{product.title | capitalize }}</div>
						<!-- /.b-product__title -->
						<div class="b-product__media"> 
							<img src="{{product.featured_image | img_url: '500x500', crop: 'center' }}" alt="">
						</div>
						<!-- /.b-product__media -->
						<div class="b-product__action">
							<form action="/cart/add" class="b-product__form">
								{% if product.variants.size >  1 %}
								<div class="b-product__options styled-radio-wrap">
									{% for option in product.options_with_values %}
									  {% for value in option.values %}
									    {% for variant in product.variants %}
									      {% if variant.title == value %}
									      <input type="radio" value="{{variant.id }}" class="styled-radio" id="{{variant.id }}" name="id" {% if option.selected_value == value %}checked{% endif %}>
									      <label for="{{variant.id }}"> {{ value }}</label>
									      {% endif %}
									    {% endfor %}
									  {% endfor %}
									{% endfor %}
								</div>
								{% else %}
								<input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
								{% endif %}
								<!-- /.b-product__options -->
								<div class="b-product__buy  clearfix">
									<div class="b-product__price">
										{{product.selected_or_first_available_variant.price | money | remove: '.00' }}
									</div>
									<!-- /.b-product__price -->
									<div class="b-product__add">
										<button type="submit" class="b-product__input-submit">ADD</button>
									</div>
									<!-- /.b-product__add -->
								</div> 
								<!-- /.b-product__buy clearfix -->
							</form>
							<!-- /.b-product__form -->
						</div>
						<!-- /.b-product__action -->
					</div>
					<!-- /.b-product -->

				</div>
				{% endfor %}
			</div>
		</div>
		<!-- /.upsell-popup__content -->
		<div class="upsell-popup__footer text-right">
			<a href="/cart" class="link-iconed">No Thanks  <i class="fa fa-angle-right"></i> </a>
		</div>
		<!-- /.upsell-popup__footer -->
	</div>
	<!-- /.upsell-popup -->
</div>