<div class="how-wrap">
  <div class="how-header text-center">
      <h1>{{ page.title }}</h1>
      <div class="how-header__subtitle">Premium Supplements delivered to your door every month</div>
  </div>

    <div class="features">
      <div class="features__content text-center">
        <div class="grid">
          <div class="grid__item small--one-half  medium-up--one-fifth">
            <div class="feature-box">
              <div class="feature-box__media">
                <img src="{{'feature_1.png' | asset_url }}" alt="" class="feature-box__img">
              </div>
              <!-- /.feature-box__media -->
              <div class="feature-box__title">COMPLETE MULTIVITAMIN </div>
              <!-- /.feature-box__title -->
            </div>
            <!-- /.feature-box -->
          </div>
          <div class="grid__item small--one-half  medium-up--one-fifth">
            <div class="feature-box">
              <div class="feature-box__media">
                <img src="{{'feature_2.png' | asset_url }}" alt="" class="feature-box__img">
              </div>
              <!-- /.feature-box__media -->
              <div class="feature-box__title">
                FOCUS AND ENERGY
               </div> <!-- /.feature-box__title -->
            </div>
            <!-- /.feature-box -->
          </div>
          <div class="grid__item small--one-half  medium-up--one-fifth">
            <div class="feature-box">
              <div class="feature-box__media">
                <img src="{{'feature_3.png' | asset_url }}" alt="" class="feature-box__img">
              </div>
              <!-- /.feature-box__media -->
              <div class="feature-box__title">
                PROBIOTIC 
              </div>
              <!-- /.feature-box__title -->
            </div>
            <!-- /.feature-box -->
          </div>
          <div class="grid__item small--one-half  medium-up--one-fifth">
            <div class="feature-box">
              <div class="feature-box__media">
                <img src="{{'feature_4.png' | asset_url }}" alt="" class="feature-box__img">
              </div>
              <!-- /.feature-box__media -->
              <div class="feature-box__title">
                PRE WORKOUT 
                AMPLIFIER 
              </div>
              <!-- /.feature-box__title -->
            </div>
            <!-- /.feature-box -->
          </div>
          <div class="grid__item small--one-half  medium-up--one-fifth">
            <div class="feature-box">
              <div class="feature-box__media">
                <img src="{{'feature_5.png' | asset_url }}" alt="" class="feature-box__img">
              </div>
              <!-- /.feature-box__media -->
              <div class="feature-box__title">
                POST WORKOUT 
                RECOVERY
              </div>
              <!-- /.feature-box__title -->
            </div>
            <!-- /.feature-box -->
          </div>
        </div>
      </div>
      <!-- /.features__content -->
      <div class="features__action text-center">
        <a href="/collections/frontpage/products/focus-and-energy" class="btn-red">BUILD A KIT</a>
      </div>
      <!-- /.features__action -->
    </div>
    <!-- /.features -->

    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-half">
          <div class="benefits text-center">
            <span class="benefits__title btn-gold text-box">BENEFITS</span>
            <div class="benefits__content">
              Get Healthy - Feel Rich 
              Join an amazing community of people like you. 
              Products delivered right to your door 
              Enjoy big savings and receive exclusive deals 
              Join us at private events and concerts 
            </div>
          </div>
        </div>
        <div class="grid__item medium-up--one-half">
          <div class="benefits text-center">
            <span class="benefits__title btn-gold text-box">MANAGE</span>
            <div class="benefits__content">
              Modify or end your subscription anytime 
              No hidden fees 
              Flat rate shipping 
              Satisfaction guaranteed 
            </div>
          </div>
        </div>
      </div>
    </div>


</div>



  {% include 'testimonials' %}


  {% section 'hero-5' %}
  {% section 'hero-6' %}

